/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */

/* ------ START WRITING YOUR CODE BELOW ------ */

/* Spacing */
li{}
/* Imported Typfaces */
@font-face {
    font-family: Lato;
    src: url(../fonts/sans-serif/lato-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/sans-serif/montserrat-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: Opensans;
    src: url(../fonts/sans-serif/opensans-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: Josefinslab;
    src: url(../fonts/serif/josefinslab-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: Robotoslab;
    src: url(../fonts/serif/robotoslab-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: Rozhaone;
    src: url(../fonts/serif/rozhaone-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: Ultra;
    src: url(../fonts/serif/ultra-regular.ttf);
    font-weight: normal;
    font-weight: normal;
}

/* Box, Layout and Border */
nav{
    border-bottom:#0000;
    border-top: #0000;
}
ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 0px;
    border-top:#0000;
    border-bottom:#0000;
}

li{
    margin-right: 50px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

}

body{
    margin: 1.5rem auto;
    width: 90%
}

.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 90%;
}

article{
    width:auto;
}

.article-image{
    float: left;
    min-width: 300px;
    width: 325px;
    margin: 0;
    margin-right: 10px; 
    img{
        width: auto;
        height: auto;
        max-width: 300px;
    }
}

.subsection{
    display:flex;
    width: auto;
    margin: 0;
    padding: 0;

    img{
        width: auto;
        height: auto;
        max-width: 250px;
        margin: 0;
        padding: 0;
    }

}

aside{
    grid-column: 2;
    width: auto;
    column-rule: 2px;
    img{
        width: auto;
        height: auto;
        max-width: 300px;
    }

}



/* Style */
html{
    font-family: Roboto;
    font-size: 12px;
}
h1{
    font-family: Lato;
    text-shadow: 2px 2px #0000;
    text-align: center;
}

li{
    text-decoration: none;
}

.highlight
{
    font-family: Ultra;
    text-shadow: 2px 2px #0000;
    background-color: #82334C;
    color: antiquewhite;
    shape-outside: margin-box;
    margin-left: 5px;
    margin-right:5px;
    padding-left:5px;
    padding-right:5px;
}

li{
    list-style-type: none;
    a{
        text-decoration: none;
        color:#27476E;
        font-size: 16px;
    }
    
}

time{
    font-style: italic;
    font-size: 8px;
    color:gray;
}

.attribution{
    float: right;
    text-align: right;
    
}

button{
    font-family: ultra;
    font-size: 16px;
    color:antiquewhite;
    background-color: #27476E;
}

aside > p > a > .expand{
    font-size: 12px;
    text-decoration: none;
}

.subsection > figure > figcaption{
    background-color: #EEEEDD;
}

